<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NoticeServlet</servlet-name>
  	<display-name>NoticeServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.NoticeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteNoticeServlet</servlet-name>
  	<display-name>DeleteNoticeServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeleteNoticeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchCustomerServlet</servlet-name>
  	<display-name>SearchCustomerServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SearchCustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPurchaseServlet</servlet-name>
  	<display-name>AddPurchaseServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AddPurchaseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPurchaseServlet</servlet-name>
  	<display-name>ViewPurchaseServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ViewPurchaseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignoutServlet</servlet-name>
  	<display-name>SignoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SignoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePurchaseServlet</servlet-name>
  	<display-name>DeletePurchaseServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeletePurchaseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePurchaseServlet</servlet-name>
  	<display-name>UpdatePurchaseServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.UpdatePurchaseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SalesChartServlet</servlet-name>
  	<display-name>SalesChartServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SalesChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NoticeServlet</servlet-name>
  	<url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteNoticeServlet</servlet-name>
  	<url-pattern>/DeleteNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchCustomerServlet</servlet-name>
  	<url-pattern>/SearchCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPurchaseServlet</servlet-name>
  	<url-pattern>/AddPurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPurchaseServlet</servlet-name>
  	<url-pattern>/ViewPurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignoutServlet</servlet-name>
  	<url-pattern>/SignoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePurchaseServlet</servlet-name>
  	<url-pattern>/DeletePurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePurchaseServlet</servlet-name>
  	<url-pattern>/UpdatePurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SalesChartServlet</servlet-name>
  	<url-pattern>/SalesChartServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
		<welcome-file>admin_login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
