@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root{
    --green:#27ae60;
    --black:#2c2c54;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-padding-top:6.5rem;
    scroll-behavior: smooth;
}
body{
    background:lightgreen; 
}
header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow:var(--box-shadow);
}
.logo{
    color:var(--black);
    font-weight: bolder;
    font-size: 2rem;
}
.logo i{
    padding-right:.5rem;
    color:var(--green);
}

.header .navbar a{
    padding: 1rem 1.5rem;
    font-size: 1.7rem;
    /* border-radius: .5rem; */
    color: var(--black);
    margin:0.1rem;
    
}
.header .navbar a:active{
    color:var(--green);
}
.header .navbar a:hover{
    background-color: var(--green);
    color:#fff;
    border-radius:.5rem ;
}

.header .icon div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}
.header .icon div:hover{
    background-color: #27ae60;
    color:#fff;
}

#menu-btn{
    display: none;
}
.header .notification-box{
    position:absolute;
    top:110%;right:-110%;
    padding:1rem;
    border-radius:.5rem;
    box-shadow:var(--box-shadow);
    width:30rem;
    background: #fff;
    font-size:1.5rem;
    padding: 1rem 0;
    text-align: center;
}
.header .notification-box.active{
    right: 2rem;
    transition: .4s linear;
    
}
.header .notification-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  display: none;
}
.header .user-account{
    position:absolute;
    top:110%; right:-110%;
    padding:1rem;
    border-radius:.5rem;
    box-shadow:var(--box-shadow);
    width:30rem;
    background: #fff;
}
.header .user-account.active{
    right:2rem;
    transition: .4s linear;
}
.header .user-account .name{
    font-size:1.5rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: center;
}
/* logout btn begin */
.btn{
    margin-top:1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size:1.5rem;
    border-radius: .5rem;
    border: .2rem solid var(--green);
    color: var(--green);
    cursor: pointer;
}
.btn:hover{
    background-color: var(--green);
    color: white;
}
.header .user-account .btn{
    display: block;
    text-align: center;
    margin: 1rem;
}
/* logout btn ends */


form{
    background-color:#eee ;
    width:450px;
    padding:40px 40px;
    position:absolute;
    transform: translate(-50%,-50%);
    top:55%;
    left:50%;
    border-radius:8px;
    box-shadow: var(--box-shadow);
    font-size:1.8rem ;
}
form h1{
    /* border-bottom: 1px solid silver; */
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
}
form p{
	font-size:0.5rem;
}
label{
    font-weight: 500;
    color:black;

}
input{
    display: block;
    width: 100%;
    margin-top:5px;
    padding:12px;
    border-radius: 5px;
    outline: none;
    color:black;
}
#password{
    margin-bottom: 30px;
}
input[type="password"]{
    border:2px solid #c2c2c2;
    box-shadow: var(--box-shadow);
}
input[type="submit"]{
    background-color: var(--green);
    border: none;
    color:white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
}
input[type="submit"]:hover{
    background-color:lightgreen;
    color:black;
    font-weight: bold;
}

 /* media queries */
 @media(max-width:991px){
    html{
        font-size:55%;
    }

    .header{
        padding:2rem;
    }
    section{
        padding:2rem;        
    }    
  }

  @media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position:absolute;
        top:110%; right: -110%;
        width: 30rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        border-radius: .5rem;
        background:#fff;
        text-align: center;
    }
    .header .navbar.active{
        right:2rem;
        transition:.4s linear;
    }
    .header .navbar a{
        font-size:2rem;
        margin:2rem 2.5rem;
        display: block;
    }
    .footer{
        text-align: center;
    }
}
  
@media(max-width:450px){
    html{
        font-size:50%;
    }
    .heading{
        font-size: 2.5rem;
    }
    .footer{
        text-align: center;
    }
}