@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root{
    --green:#27ae60;
    --black:#2c2c54;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    /* font-size:62.5%; */
    overflow-x:hidden;
    scroll-padding-top:6.5rem;
    scroll-behavior: smooth;
}
body{
    /* background-color: lightgreen; */
     background-image: url("../resources/image/login.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center center;
	   height: 100vh;
   	 margin: 0;
}

form{
    background-color:#eee ;
    width:400px;
    padding:40px 40px;
    position:absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    border-radius:10px;
    box-shadow: var(--box-shadow);
    font-size:1.2rem ;
}
.error_message{
	color: red;
	 font-weight: bold;
	/*  margin-top: 1rem; */
	 font-size:1rem;
	 text-align: center;
	}
form h1{
    /* border-bottom: 1px solid silver; */
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
}
label{
    font-weight: 500;
    color:black;
}
input{
    display: block;
    width: 100%;
    margin-top:5px;
    padding:12px;
    border-radius: 5px;
    outline: none;
    color:black;
}
#password{
    margin-bottom: 30px;
}
input[type="text"]{
    border:2px solid #c2c2c2;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
}
input[type="password"]{
    border:2px solid #c2c2c2;
    box-shadow: var(--box-shadow);

}
input[type="submit"]{
    background-color: var(--green);
    border: none;
    color:white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
}
input[type="submit"]:hover{
    background-color:lightgreen;
    color:black;
    font-weight: bold;
}